body{
	@extend .font-face--futura-medium;
}

@media (min-width: rowlow-breakpoint-min("s") + px) {

	body{
		font-size: 1em;
	}

	h1, h2, h3, h4, h5, p{
		line-height: 1.428em;
		letter-spacing: .05em;
		// margin-top: 0;
		// margin-bottom: 1em;
	}

	h4, h5, p{
		letter-spacing: .05em;
	}

	h1{ font-size: 2em; }
	h2{ font-size: 1.625em; }
	h3{ font-size: 1.375em; }
	h4{ font-size: 1.125em; }
	h5{ font-size: 1em;	}

	
}

@media (min-width: rowlow-breakpoint-min("m") + px) {
	
	h1{ font-size: 2em; }
	h2{ font-size: 1.625em; }
	h3{ font-size: 1.375em; }
	h4{ font-size: 1.125em; }
	h5{ font-size: 1em;	}

}

@media (min-width: rowlow-breakpoint-min("l") + px) {
	
	h1{ font-size: 2em; }
	h2{ font-size: 1.625em; }
	h3{ font-size: 1.375em; }
	h4{ font-size: 1.125em; }
	h5{ font-size: 1em;	}


}

@media (min-width: rowlow-breakpoint-min("xl") + px) {
	
	h1{ font-size: 2.5em; }
	h2{ font-size: 2em; }
	h3{ font-size: 1.5em; }
	h4{ font-size: 1.125em; }
	h5{ font-size: 1em;	}

}