<div class="block block--hero background-color--blue-160">
	<div class="row row--1200 gutter-vertical--s--8 gutter-horizontal--s--1">
		<div class="column--s--8of12 column-offset--s--2of12 column--m--6of12 column-offset--m--3of12 column--l--4of12 column-offset--l--4of12 gutter--s--1 text-align--s--center">
			<img src="./assets/img/rowlow.svg" class="responsive" alt=""/>
			<h4 class="text-color--white gutter--top--s-3">A modular web framework <br>with mobile in mind</h4>
		</div>
	</div>
</div>