<div class="block block--intro background-color--grey-lighter gutter-vertical--s-4 gutter-vertical--m--8">
	<div class="row--1200 gutter--s--2 gutter--m--1">
		<div class="row gutter-vertical--s--2 gutter-vertical--m--4 gutter-horizontal--s--2 text-align--s--center text-align--m--left">
			<h4 clss="subtitled">Row Low is a dead simple modular web framework based on SCSS. What has started as a personal toolkit for fast web development finally became an open source project available to use and contribute for everyone. Row Low is equipped with everything you need to build and structure the layout of responsive websites but is not a UI framework. </h4>
		</div>
		<div class="row gutter-vertical--s--2 gutter-vertical--m--4">
			<div class="column--m--3of12 gutter--s--2 text-align--s--center">
				<h3 class="text-color--celeste">Modular</h3>
				<p>Every component is shipped as a separate bower package. It is totally up to you which components you want to include with full control on the size of your project.</p>
			</div>
			<div class="column--m--3of12 gutter--s--2 text-align--s--center">
				<h3 class="text-color--celeste">Customizeable</h3>
				<p>Almost everything in Row Low is configurable. You have full control on namespaces, column layouts, breakpoints and aspect ratios to name a few.</p>
			</div>
			<div class="column--m--3of12 gutter--s--2 text-align--s--center">
				<h3 class="text-color--celeste">BEM-Syntax</h3>
				<p>Keeping things clear, Row Low was built following the approach of <a href="http://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/">BEM-Syntax</a>. This self explanatory naming scheme makes working with Row Low simple and future proof.</p>
			</div>
			<div class="column--m--3of12 gutter--s--2 text-align--s--center">
				<h3 class="text-color--celeste">Open Source</h3>
				<p>Row Low is released under MIT Licence and avialable on Github. Feel free to fork it on GitHub.</p>
				<a href="https://github.com/rowlow"  target="_blank" class="button button--ghost button--celeste-to-blue-80"><span class="button__label">Fork on GitHub</span></a>
			</div>
		</div>
	</div>
</div>