<div class="block block--responsive-vertical-align">
	<div class="row">
		<div class="column--s--12of12 gutter--s--1">
			<div class="gutter-top--s--8">
				<hr id="responsive-vertical-align" class="border-color--celeste">
			</div>
			<h1>Responsive Vertical Align</h1>
		</div>
	</div>

	<div class="row">
		<h2>Responsive Vertical Align</h2>
		<h3>Responsive Vertical Align</h3>
		<h4>Responsive Vertical Align</h4>
		<pre><code class="language-css">p { color: red }</code></pre>
		
	</div>

</div>
