<nav class="chapter-nav">
	<ul>
		<li>
			<a href="#resources.kickstarter">Getting Started</a>
		</li>
		<li>
			<a href="#">Layout</a>
			<ul>
				<li><a href="#layout.grid">Grid</a></li>
				<li><a href="#layout.horizontal-align">Horizontal Align</a></li>
				<li><a href="#layout.layer-group">Layer Group</a></li>
				<li><a href="#layout.ratio-container">Ratio Container</a></li>
				<li><a href="#layout.vertical-align">Vertical Align</a></li>
			</ul>
		</li>

		<li>
			<a>Media</a>
			<ul>
				<li><a href="#media.image">Image</a></li>
			</ul>
		</li>
		
		<li>
			<a href="#">Motion</a>
			<ul>
				<li><a href="#motion.easing">Easing</a></li>
			</ul>
		</li>

		<li>
			<a href="#">Settings</a>
			<ul>
				<li><a href="#settings.default">Default Settings</a></li>
			</ul>
		</li>

		<li>
			<a href="#">Type</a>
			<ul>
				<li><a href="#type.font-face">Font Face</a></li>
				<li><a href="#type.text-align">Text Align</a></li>
				<li><a href="#type.text-transform">Text Transform</a></li>
				<li><a href="#type.text-decoration">Text Decoration</a></li>
				<li><a href="#type.text-spacing">Text Spacing</a></li>
			</ul>
		</li>

		<li>
			<a href="#">Utils</a>
			<ul>
				<li><a href="#utils.breakpoints">Breakpoints</a></li>
				<li><a href="#utils.clearfix">Clearfix</a></li>
				<li><a href="#utils.colors">Colors</a></li>
				<li><a href="#utils.visibility">Visibility</a></li>
			</ul>
		</li>
		
	</ul>
	
</nav>