<div class="block">
	<div class="row">
		<div class="column--s--12of12 gutter--s--1">
			<div class="gutter-top--s--8">
				<hr id="type.text-decoration" class="border-color--celeste">
			</div>
		</div>
	</div>

	<div class="row">


<h1>rowlow.type.text-decoration</h1>
<p>A text util to take control over text decorations via CSS selectors</p>
<h2>Install</h2>
<pre><code class="language-css">bower install --save rowlow.type.text-decoration</code></pre>
<h2>Variables</h2>
<pre><code class="language-css">$rowlow-text-decoration-namespace // Specific module namespace</code></pre>
<h2>Usage</h2>
<h3>Setup</h3>
<pre><code class="language-css">/* Set modules namespace (optional) */
$rowlow-text-decoration-namespace: "namespace-";

@import "bower_components/rowlow.type.text-decoration/main.scss"</code></pre>
<h3>HTML</h3>
<pre><code class="language-markup">&lt;h1 class="text-decoration--underline"&gt;&lt;/h1&gt;
&lt;h1 class="text-decoration--overline"&gt;&lt;/h1&gt;
&lt;h1 class="text-decoration--line-through"&gt;&lt;/h1&gt;
&lt;h1 class="text-decoration--none"&gt;&lt;/h1&gt;</code></pre>

    	<h2>Examples</h2>
    	<div class="row">
			<div class="gutter--s--1">
				<h3 class="text-decoration--underline">Hamburgefontensiv</h3>
				<h3 class="text-decoration--overline">Hamburgefontensiv</h3>
				<h3 class="text-decoration--line-through">Hamburgefontensiv</h3>
				<h3 class="text-decoration--none">Hamburgefontensiv</h3>
			</div>
		</div>

	</div>
</div>
