<div class="block">
	<div class="row">
		<div class="column--s--12of12 gutter--s--1">
			<div class="gutter-top--s--8">
				<hr id="type.text-transform" class="border-color--celeste">
			</div>
		</div>
	</div>

	<div class="row">
<h1>rowlow.type.text-transform</h1>
<p>A little util to take control over text transforms via CSS selectors</p>
<h2>Install</h2>
<pre><code>    bower install --save rowlow.type.text-transform</code></pre>
<h2>Variables</h2>
<pre><code>    $rowlow-text-transform-namespace // Specific module namespace</code></pre>
<h2>Usage</h2>
<h3>Setup</h3>
<pre><code>    /* Set modules namespace (optional) */
    $rowlow-text-transform-namespace: "namespace-";

    @import "bower_components/rowlow.type.text-transform/main.scss"</code></pre>
<h3>HTML</h3>
<pre><code>    &lt;h1 class="text-transform--uppercase"&gt;&lt;/h1&gt;
    &lt;h1 class="text-transform--lowercase"&gt;&lt;/h1&gt;
    &lt;h1 class="text-transform--none"&gt;&lt;/h1&gt;</code></pre>
	
		<h2>Examples</h2>

		<div class="row">
		<div class="gutter--s--1">
			<h3 class="text-transform--uppercase">Hamburgefontensiv</h3>
			<h3 class="text-transform--lowercase">Hamburgefontensiv</h3>
			<h3 class="text-transform--none">Hamburgefontensiv</h3>
		</div>
	</div>

	</div>
</div>
