<div class="block">
	<div class="row">
		<div class="column--s--12of12 gutter--s--1">
			<div class="gutter-top--s--8">
				<hr id="utils.visibility" class="border-color--celeste">
			</div>
		</div>
	</div>

	<div class="row">

<h1>rowlow.utils.visibility</h1>
<p>Take full control of the visibility of elements among all repsonisve breakpoints.</p>
<h2>Install</h2>
<pre><code class="language-css">bower install --save rowlow.utils.visibility</code></pre>
<h2>Variables</h2>
<pre><code class="language-css">$rowlow-visibility-namespace // Specific module namespace</code></pre>
<h2>Usage</h2>
<h3>Setup</h3>
<pre><code class="language-css">/* Set modules namespace (optional) */
$rowlow-visibility-namespace: "namespace-";

@import "bower_components/rowlow.utils.visibility/main.scss"</code></pre>
<h3>CSS Selector Naming Scheme</h3>
<pre><code class="language-css">{rowlow-visibility-namespace}visible--{breakpoint-name}
{rowlow-visibility-namespace}hidden--{breakpoint-name}</code></pre>
<h3>HTML</h3>
<pre><code class="language-markup">&lt;div class="hidden--s"&gt;&lt;/div&gt;
&lt;div class="visible--m visible--l"&gt;&lt;/div&gt;</code></pre>
		
		<h2>Examples</h2>

		<div class="row">
			<div class="column--s--3of12 gutter--s--1">
				<div>Visible</div>
			</div>
			<div class="column--s--2of12 gutter--s--1">
				<div class="visible--s">visible--s</div>
				<div class="hidden--s text-color--grey-200">visible--s</div>
			</div>
			<div class="column--s--2of12 gutter--s--1">
				<div class="visible--m">visible--m</div>
				<div class="hidden--m text-color--grey-200">visible--m</div>
			</div>
			<div class="column--s--2of12 gutter--s--1">
				<div class="visible--l">visible--l</div>
				<div class="hidden--l text-color--grey-200">visible--l</div>
			</div>
			<div class="column--s--2of12 gutter--s--1">
				<div class="visible--xl">visible--xl</div>
				<div class="hidden--xl text-color--grey-200">visible--xl</div>
			</div>
		</div>

		<div class="row">
			<div class="column--s--3of12 gutter--s--1">
				<div>Hidden</div>
			</div>
			<div class="column--s--2of12 gutter--s--1">
				<div class="hidden--s">hidden--s</div>
				<div class="visible--s text-color--grey-200">hidden--s</div>
			</div>
			<div class="column--s--2of12 gutter--s--1">
				<div class="hidden--m">hidden--m</div>
				<div class="visible--m text-color--grey-200">hidden--m</div>
			</div>
			<div class="column--s--2of12 gutter--s--1">
				<div class="hidden--l">hidden--l</div>
				<div class="visible--l text-color--grey-200">hidden--l</div>
			</div>
			<div class="column--s--2of12 gutter--s--1">
				<div class="hidden--xl">hidden--xl</div>
				<div class="visible--xl text-color--grey-200">hidden--xl</div>
			</div>
		</div>

    </div>
</div>

