<div class="block">
	<div class="row">
		<div class="column--s--12of12 gutter--s--1">
			<div class="gutter-top--s--8">
				<hr id="motion.easing" class="border-color--celeste">
			</div>
		</div>
	</div>

	<div class="row">
<h1>rowlow.motion.easing</h1>
<p>A easing module with loads of easing functions for Row Low framework</p>
<h2>Install</h2>
<pre><code class="language-css">bower install --save rowlow.motion.easing</code></pre>
<h2>Functions</h2>
<pre><code class="language-css">rowlow-ease() // Returns the easing function by a given name</code></pre>
<h2>Usage</h2>
<h3>SCSS</h3>
<pre><code class="language-css">a:hover{
    transition: all .1s rowlow-ease("in-out-quad") .2s;
}</code></pre>
<h3>Easing Functions</h3>
<pre><code class="language-css">
linear
ease
in
out
in-out
in-sine
out-sine
in-out-sine 
in-quad
out-quad
in-out-quad
in-cubic  
out-cubic 
in-out-cubic
in-quart 
out-quart  
in-out-quart 
in-quint
out-quint  
in-out-quint
in-expo
out-expo 
in-out-expo 
in-circ
out-circ
in-out-circ
in-back"
out-back 
in-out-back</code></pre>

	

	</div>
</div>