<div class="block">
	<div class="row">
		<div class="column--s--12of12 gutter--s--1">
			<div class="gutter-top--s--8">
				<hr id="media.image" class="border-color--celeste">
			</div>
		</div>
	</div>

	<div class="row">
		<h1>rowlow.media.image</h1>
		<p>A module for displaying responsive images</p>
		<h2>Install</h2>
<pre><code class="language-css">bower install --save rowlow.media.image</code></pre>
		<h2>Settings</h2>
<pre><code class="language-css">rowlow-image-namespace // Specific module namespace</code></pre>
		<h2>Usage</h2>
		<h3>HTML</h3>
<pre><code class="language-markup">&lt;img src="" alt="" class="responsive"/&gt;</code></pre>

		<h2>Example</h2>

		<div class="row">
			<div class="column--m--6of12 gutter--s--1">
				<img src="http://placehold.it/800x500" alt="" class="responsive">
			</div>
		</div>

	</div>
</div>