<div class="block">
	<div class="row">
		<div class="column--s--12of12 gutter--s--1">
			<div class="gutter-top--s--8">
				<hr id="layout.horizontal-align" class="border-color--celeste">
			</div>
		</div>
	</div>

	<div class="row">
		<h1>rowlow.layout.horizontal-align</h1>
		<p>This module adds CSS selectors in order to align block or inline-block elements in HTML</p>
		<h2>Install</h2>
<pre><code class="language-css">bower install --save rowlow.layout.horizontal-align</code></pre>
		<h2>Variables</h2>
<pre><code class="language-css">$rowlow-horizontal-align-namespace // Specific module namespace</code></pre>
		<h2>Usage</h2>
		<h3>Setup</h3>
<pre><code class="language-css">
/* Set modules namespace (optional) */
$rowlow-horizontal-align-namespace: "namespace-";

@import "bower_components/rowlow.layout.horizontal-align/main.scss"
</code></pre>
		<h3>CSS Selector Naming Scheme</h3>
<pre><code class="language-css">
.{rowlow-horizontal-align-namespace}horizontal-align--{breakpoint}--{left, center, right}
</code></pre>
		<h3>HTML</h3>
<pre><code class="language-markup">&lt;div class="horizontal-align--s--center horizontal-align--m--left"&gt;&lt;/div&gt;</code></pre>

		<h2>Examples</h2>
		<div class="row">
			<div class="column--s--12of12 gutter--s--1">
					<div class="horizontal-align--s--left background-color--grey-lighter text-align--s--center gutter--s--1" style="width: 200px;">
						left
					</div>
			</div>
			<div class="column--s--12of12 gutter--s--1">
				<div class="horizontal-align--s--center background-color--grey-lighter text-align--s--center gutter--s--1" style="width: 200px;">
					center
				</div>
			</div>
			<div class="column--s--12of12 gutter--s--1">
				<div class="horizontal-align--s--right background-color--grey-lighter text-align--s--center gutter--s--1" style="width: 200px;">
					right
				</div>
			</div>	
		</div>
		

	</div>
</div>
