<div class="block">
	<div class="row">
		<div class="column--s--12of12 gutter--s--1">
			<div class="gutter-top--s--8">
				<hr id="settings.default" class="border-color--celeste">
			</div>
		</div>
	</div>

	<div class="row">
<h1>rowlow.settings.default</h1>
<p>Row Low default settings hold important generic settings that can be overwritten depending on your needs.</p>
<h2><code>$rowlow-namespace</code></h2>
<p>Row Low's mixins, variables and functions are prefixed with <code>rowlow-</code> per se. Generated CSS selectors however, are not prefixed by default. In order to change this behavior, you can define a generic namespace that will be prefixed to any CSS selector using <code>$rowlow-namespace</code>. Additionally, every Row Low module that is generating CSS selectors will have a additional variable to set a specific namespace. By default this specific namespace is equal to the generic namespace. Please look up the module's documentation for more details.</p>
<h3>Usage</h3>
<pre><code class="language-css">$rowlow-namespace: "rowlow-";</code></pre>

	</div>
</div>