$rowlow-namespace: "";

$rowlow-colors: (
	"grey-lighter": #F5F5F5,
	"grey-light": 	#CCCCCC,
	"grey": 		#9E9E9E,
	"grey-dark": 	#8F8F8f,
	"black": 		#000000,
	"blue-160": 	#1c202b,
	"celeste": 		#87c6bd,
	"blue-80": 		#130e14,
	"white": 		#ffffff,
	"grey-200": 	#ccc,
);

$rowlow-grid-columns: 10, 12;